
PORT=8888
HOST=localhost
APP_PREFIX=/api
APP_NAME=nestjs_ecommerce
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}${APP_PREFIX}

FE_URL=http://localhost:5173

DATABASE_URL="postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME?schema=public"
DB_USER=user_nestjs_ecommerce
DB_PASSWORD=password_nestjs_ecommerce
DB_NAME=db_nestjs_ecommerce
DB_HOST=postgres
DB_PORT=5432
