
PORT=8888
HOST=localhost
APP_PREFIX=/api
APP_NAME=nestjs_ecommerce
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}${APP_PREFIX}

FE_URL=http://localhost:5173

DATABASE_URL="postgresql://your_db_user:your_db_password@localhost:5432/your_db_name?schema=public"
