
PORT=8888
HOST=localhost
APP_PREFIX=/api
APP_NAME=nestjs_ecommerce
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}${APP_PREFIX}

FE_URL=http://localhost:5173

DATABASE_URL="postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME?schema=public"
DB_USER=user_nestjs_ecommerce
DB_PASSWORD=password_nestjs_ecommerce
DB_NAME=db_nestjs_ecommerce
DB_HOST=localhost
DB_PORT=5432

JWT_SECRET=JWT_SECRET_KEY

CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_INCOMING_USER=your_gmail@gmail.com
MAIL_INCOMING_PASS=your_gmail_app_password